<p class="text-center texte-muted" *ngIf="!animais.length">Desculpe não temos animais</p>

<div class="row">
  <div class="col-4" *ngFor="let animal of animais">
    <a [routerLink]="['/animais', animal.id]">
      <app-cartao>
        <app-animal [url]="animal.url" [descricao]="animal.descreption"></app-animal>
        <i aria-hidden="true" class="fa fa-heart-o fa-x1 mr-2">{{animal.likes}}</i>
        <i aria-hidden="true" class="fa fa-comment-o fa-x1 mr-2 ml-2">{{animal.comments}}</i>
      </app-cartao>
    </a>
  </div>
</div>